body {
  font-family: "roboto", sans-serif;
  margin: 0px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  height: 63px;
  padding-top: 10px;
  position: relative;
}
header .logo-size {
  width: 197px;
  height: 36px;
}

.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #EAEAEA;
  color: #353535;
}

.reservez {
  text-align: center;
  background-color: #F6F6F6;
  margin: 0%;
  padding: 20px;
}
.reservez p {
  color: #353535;
  font-size: 18px;
}
.reservez button {
  background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  color: white;
  font-weight: bold;
  padding: 18px;
  font-size: 16px;
  border-radius: 27px;
  border: none;
  margin-bottom: 30px;
  margin-top: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition-duration: 0.1s;
}
.reservez button:hover {
  transform: scale(1.02);
}

.fonctionnement {
  padding: 1rem;
}
.fonctionnement h2 {
  padding-bottom: 1rem;
}
.fonctionnement ol {
  list-style: none;
  margin-left: -2rem;
}
.fonctionnement li {
  background-color: #F7F7F7;
  font-size: 16px;
  font-weight: bold;
  padding: 1.5rem 2rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin: 1rem 0 1.5rem 1rem;
  transition-duration: 0.1s;
  cursor: pointer;
}
.fonctionnement li:hover {
  transform: scale(1.02);
}
.fonctionnement span {
  margin-left: -3rem;
  margin-right: 2rem;
  padding: 0.3rem 0.6rem;
  border-radius: 100%;
  background-color: #9356DC;
  color: white;
  font-size: 14px;
}
.fonctionnement i {
  margin-right: 1rem;
  color: #7E7E7E;
}
.fonctionnement .fa-store {
  color: #9356DC;
}

.restaurant {
  background-color: #F6F6F6;
  height: 1180px;
  padding: 1rem;
}
.restaurant .block-menu {
  width: 100%;
  height: 251px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  background-color: white;
  margin-bottom: 1rem;
  cursor: pointer;
}
.restaurant .block-menu:hover {
  transform: scale(1.01);
}
.restaurant img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0px;
}
.restaurant .flex-icone {
  display: flex;
  padding: 0 0.5rem 1rem 0.5rem;
  align-items: center;
  justify-content: space-between;
  line-height: 0.5rem;
  position: relative;
}
.restaurant .new-flag {
  position: absolute;
  margin-top: 1rem;
  margin-left: -6rem;
  background-color: #99E2D0;
  padding: 0.5rem 0.7rem;
  color: #008766;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}
.restaurant h3 {
  margin-left: 0.8rem;
  line-height: 0.5rem;
}
.restaurant p {
  margin-left: 0.8rem;
  line-height: 0.5rem;
}

.like {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  margin-right: 1rem;
}
.like .empty {
  background-color: white;
  opacity: 1;
  transition: opacity 250ms;
  display: inline-block;
  position: absolute;
  right: 0;
}
.like .empty:hover {
  opacity: 0;
}
.like .fill {
  background: linear-gradient(350deg, #99E2D0 0%, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  position: absolute;
  font-weight: 900;
  right: 0;
}

footer {
  background-color: #353535;
  color: white;
  padding: 1rem;
}
footer h3 {
  font-family: "shrikhand", sans-serif;
  font-weight: 400;
}
footer i {
  margin-right: 0.5rem;
}
footer fa-solid {
  background-color: white;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  border-bottom: white 1px solid;
}

img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.space {
  height: 1350px;
  padding: 1rem;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0px 0px;
  transform: translateY(-80px);
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.menu-header h2 {
  font-family: "shrikhand", sans-serif;
  font-size: 28px;
  font-weight: 400;
}

.like .color {
  background-color: #F6F6F6;
}

.menu {
  padding-top: 0;
}

.menu h3 {
  font-weight: 300;
  -webkit-margin-before: 0.5rem;
          margin-block-start: 0.5rem;
}

.menu .sous-ligne {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin: 0;
  transform: translateY(-15px);
}

.menu-list {
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
}

.menu-list h4 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  padding-top: 0.8rem;
  font-size: 18px;
}

.menu-list p {
  font-size: 15px;
  -webkit-margin-before: 0.5rem;
          margin-block-start: 0.5rem;
}

.menu-flex {
  display: flex;
  justify-content: space-between;
  line-height: 0.5rem;
}

.menu-flex .prix {
  font-weight: bold;
}

.marge {
  padding-top: 1.7rem;
}/*# sourceMappingURL=style.css.map */