@media screen and (min-width: 768px){
    .fonctionnement{
        h2{
            padding-left: 5rem;
        }
            ol {
                display: flex;
                justify-content: center;
            }
                li {
                    margin: 0 1rem;
                }
    } 
    .restaurant{
        height: max-content;
        margin-top: 2rem;
        h2{
            padding-left: 5rem;
        } 
            article{
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                margin-bottom: 3%;
            } 
                .block-menu{
                    max-width: 350px;
                    min-width: 250px;
                }
    }
    footer{
        display: flex;
        justify-content: center;
        h3{
            margin-right: 2rem;
            margin-block-start: 0.8rem;
        }
            p{
                margin-right: 2rem;
            }
    }
    .space{
        width: 70%;
        margin-left: 14%;
        .menu-header{
            justify-content: center;
        }
            h2{
                margin-right: 6%;
            }
    } 
    .menu{
        h3{
            margin-left: 18%;
            }
            .sous-ligne{
                margin-left: 18%;
            }
                .menu-list{
                    width: 60%;
                    margin-left: 18%;
                }    
    }
    
} 

