
.fa-arrow-left{
    font-size: 25px;
    position: absolute;
    top: 40%;
    left: 5%;
}
.img-restau{
    width: 100%;
    height: 275px;
    object-fit: cover;
}
.space{
    height: 100%;
    padding: 1rem;
    background-color: $color-back;
    border-radius: 40px 40px 0px 0px;
    transform: translateY(-60px);
    margin-bottom: -60px;
    @include for-desktop{
        width: 70%;
        margin-left: 14%;
    }
    .menu-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        @include for-desktop{
        justify-content: center;
        }
            h2{
            font-family: "shrikhand", sans-serif;
            font-size: 28px;
            font-weight: 400;
            @include for-desktop{
            margin-right: 6%;
            }
            }
            .empty-2{
                background-color: $color-back;
                @include empty;
                    &:hover{
                        opacity: 0;
                    }  
            }
    }  
}

.menu{
   padding-top: 0;
   h3{
    font-weight: 300;
    margin-block-start: 0.5rem;
    @include for-desktop{
    margin-left: 18%;
    }
    } 
    .sous-ligne{
        width: 40px;
        height: 3px;
        background-color: $color-tertiary;
        margin: 0;
        transform: translateY(-15px);
        @include for-desktop{
        margin-left: 18%;
        }
        }
            .menu-flex{
                display: flex;
                justify-content: space-between;
                align-items: center; 
            } 
                .menu-list h4{
                    margin-block-start: 0;
                    margin-block-end: 0;
                    padding-top: 0rem;
                    font-size: 18px;
                }
                    .menu-list p{
                        font-size: 15px;
                        margin-block-end: 0rem;
                    } 
                        .prix{
                            font-weight: bold;
                            margin-block-start: 1.5rem;
                            margin-left: auto;
                            margin-right: 2rem;
                        }
}

.commander{
    display: flex;
    justify-content: center;
    button {
        @include button;
        padding: 15px 40px;
        margin-bottom: 30px;
        margin-top: 40px;
        &:hover {
          @include button-hover;
        }
    }
}

