
.reservez {
    text-align: center;
    background-color: #F6F6F6;
    margin: 0%;
    padding: 20px;
      & p {
        color: #353535;
        font-size: 18px;
          }
        & button {
          @include button;
          }
          & button:hover {
            @include hover;
          }
  }