footer{
    background-color: #353535;
    color: white;
    padding: 1rem;
    @include for-desktop{
      display: flex;
      justify-content: center;
    }
      h3{
      font-family: "shrikhand", sans-serif;
      font-weight: 400;
      @include for-desktop{
        margin-right: 2rem;
        margin-block-start: 0.8rem;
      }
      } 
        p{
          @include for-desktop{
            margin-right: 2rem;
          } 
        }
          i{
          margin-right: 0.5rem;
          }
            fa-solid{
            background-color: white;
            }
              a{
              color: white;
              text-decoration: none;
              }
  }