/*animation loading page d'acceuil*/
@keyframes loader {
    from{
      transform: scale(1);
    }
    to{
      transform: scale(0);
    }
  }
  @keyframes sharp {
    to{
      transform: rotate(360deg);
    }
  }

/*animation button like*/
.like{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    margin-right: 1rem;
    cursor: pointer;
        .empty{
        background-color:white;
        @include empty; 
    }
        .empty:hover{
            opacity: 0; 
        }
            .fill{
                background: linear-gradient(350deg, $color-tertiary 0%, $color-primary 0%, $color-secondary 100%);
                -webkit-background-clip : text ;
                color: transparent;
                display: inline-block;
                position: absolute;
                font-weight: 900;
                right: 0;
            }
}

/*animation menu list*/
.menu-list:nth-child(3) {
    animation-delay: 0.2s;
}
.menu-list:nth-child(4) {
    animation-delay: 0.5s;
}
.menu-list:nth-child(5) {
    animation-delay: 0.8s;
}
.menu-list:nth-child(6) {
    animation-delay: 1.1s;
}

@keyframes list {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

/*animation button check*/
.button-hover{
    background-color:$color-tertiary;
    margin-right: -5rem;
    padding: 1.4rem;
    border-radius: 0 15px 15px 0;
    cursor: pointer;  
}
.menu-list:hover .button-hover{
 margin-right: 0rem;
}
.fa-check{
    display: inline-block;
    border-radius: 100px;
    background-color: white;
    padding: 0.4rem;
    color: $color-tertiary;
    transform: rotate(180deg);
    transition-duration: 0.5s; 
    cursor: pointer;
        &:hover{
            transform:rotate(0);
        }     
}
