/*animation loading page d'acceuil*/
.loader{
    background-color: whitesmoke;
    display: grid;
    place-items: center;
    height: 100vh;
    inset: 0;
    position: fixed;
    z-index: 1;
    opacity: 0.8;
    animation: loader 0.2s 3s forwards;
      i{
      animation: sharp 4s;
      }
        .fa-sharp{
        font-size: xxx-large;
        color: $color-primary;
        }
}
@keyframes loader {
    from{
      transform: scale(1);
    }
    to{
      transform: scale(0);
    }
  }
  @keyframes sharp {
    to{
      transform: rotate(360deg);
    }
  }


/*animation button like*/
.like{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    margin-right: 1rem;
    cursor: pointer;
        .empty{
        background-color:white;
        @include empty; 
    }
        .empty:hover{
            opacity: 0; 
        }
            .fill{
                background: linear-gradient(350deg, $color-tertiary 0%, $color-primary 0%, $color-secondary 100%);
                -webkit-background-clip : text ;
                color: transparent;
                display: inline-block;
                position: absolute;
                font-weight: 900;
                right: 0;
            }
}

/*animation menu list*/
.menu-list{
    padding-left: 1rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: $box-shadow; 
    margin-bottom: 1rem;
    line-height: 0.7rem;
    overflow: hidden;
    cursor: pointer;
    transform: scale(0);
    animation: list 1s both;
    @include for-desktop{ 
    width: 60%;
    margin-left: 18%;
    } 
    } 
.menu-list:nth-child(3) {
    animation-delay: 0.2s;
}
.menu-list:nth-child(4) {
    animation-delay: 0.5s;
}
.menu-list:nth-child(5) {
    animation-delay: 0.8s;
}
.menu-list:nth-child(6) {
    animation-delay: 1.1s;
}

@keyframes list {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

/*animation button check*/
.button-hover{
    background-color:$color-tertiary;
    margin-right: -5rem;
    padding: 1.4rem;
    border-radius: 0 15px 15px 0;
    cursor: pointer;  
}
.menu-list:hover .button-hover{
 margin-right: 0rem;
}
.fa-check{
    display: inline-block;
    border-radius: 100px;
    background-color: white;
    padding: 0.4rem;
    color: $color-tertiary;
    transform: rotate(180deg);
    transition-duration: 0.5s; 
    cursor: pointer;
        &:hover{
            transform:rotate(0);
        }     
}
