.loader{
      background-color: whitesmoke;
      display: grid;
      place-items: center;
      height: 100vh;
      inset: 0;
      position: fixed;
      z-index: 1;
      opacity: 0.8;
      animation: loader 0.2s 3s forwards;
        i{
        animation: sharp 4s;
        }
          .fa-sharp{
          font-size: xxx-large;
          color: $color-primary;
          }
}
  
  