
.fa-arrow-left{
    font-size: 25px;
    position: absolute;
    top: 40%;
    left: 5%;
}

.img-restau{
    width: 100%;
    height: 275px;
    object-fit: cover;
}
.space{
    height: 100%;
    padding: 1rem;
    background-color: #F6F6F6;
    border-radius: 40px 40px 0px 0px;
    transform: translateY(-60px);
    margin-bottom: -60px;
    
}
.menu-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    & h2{
        font-family: "shrikhand", sans-serif;
        font-size: 28px;
        font-weight: 400;
    }
}
.like .color{
    background-color: #F6F6F6;  
}
.menu{
   padding-top: 0; 
}
.menu h3{
    font-weight: 300;
    margin-block-start: 0.5rem;
    
}
.menu .sous-ligne{
    width: 40px;
    height: 3px;
    background-color: #99E2D0;
    margin: 0;
    transform: translateY(-15px);
    
}
.menu-list{
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15); 
    margin-bottom: 1rem;
}
.menu-list h4{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 0.8rem;
    font-size: 18px;
}
.menu-list p{
    font-size: 15px;
    margin-block-start: 0.5rem;
}
.menu-flex{
    display: flex;
    justify-content: space-between;
    line-height: 0.5rem;  
}
.menu-flex .prix{
    font-weight: bold;
}
.marge{
padding-top: 1.7rem;
}
.commander{
    display: flex;
    justify-content: center;
}
button {
    background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    color: white;
    font-weight: bold;
    padding: 15px 40px;
    font-size: 16px;
    border-radius: 27px;
    border: none;
    margin-bottom: 30px;
    margin-top: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    transition-duration: 0.1s;
    cursor: pointer;
    &:hover {
      transform: scale(1.02);
    }
}
